<div class="container">
  <div class="page-header">
    <h1>Edit Application</h1>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @application.company.name %></h3>
    </div>
    <div class="panel-body">
      <a href="<%= @application.company.website %>" target="_blank"><%= @application.company.website %></a><br>
      <%= @application.company.headquarters %>
    </div>
  </div>
  <form action="/applications/<%= @application.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="put">
    <div class="form-group">
      <label for="title">Job Title:</label>
      <input type="text" id="title" name="title" value="<%= @application.title %>" class="form-control" required autofocus>
    </div>
    <div class="form-group">
      <label for="location">Job Location:</label>
      <input type="text" id="location" name="location" value="<%= @application.location %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="text" id="salary" name="salary" value="<%= @application.salary %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="link">Link to Job Description:</label>
      <input type="text" id="link" name="link" value="<%= @application.link %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="submission_date">Submission Date:</label>
      <input type="text" id="submission_date" name="submission_date" value="<%= @application.submission_date.nil? ? "N/A" : @application.submission_date.localtime.strftime("%-m/%-d/%Y") %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="cover_letter">Cover Letter (link to document):</label>
      <input type="text" id="cover_letter" name="cover_letter" value="<%= @application.cover_letter %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="resume">Resume (link to document):</label>
      <input type="text" id="resume" name="resume" value="<%= @application.resume %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="follow_up">Follow-up Date:</label>
      <input type="text" id="follow_up" name="follow_up_date" value="<%= @application.follow_up_date.nil? ? "N/A" : @application.follow_up_date.localtime.strftime("%-m/%-d/%Y") %>" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Edit Application</button>
  </form>
</div>